<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <form action="register" method="post">
        <table>
            <tr>
                <td>用户名:</td>
                <td><input name="userName"></td>
            </tr>
            <tr>
                <td>绑定邮箱</td>
                <td><input name="email"></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input name="password" type="password" id="pwd"></td>
            </tr>
            <tr>
                <td>确认密码</td>
                <td><input type="password" id="surepwd"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="注册">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>